<header class="header">
  <h1>Notícias Fresquinhas</h1>
</header>
<div class="content">
  <nav>
    <p class="nav-titulo">Menu</p>
    <a class="nav-link" routerLink="/cadastrar">Cadastrar</a>
    <div class="menu-links" *ngFor="let categoria of categorias">
      <a class="nav-link" routerLink="/noticias/{{ categoria.id }}">{{categoria.nome}}</a>
    </div>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
</div><div style="clear:both;"></div>
<footer>
  <h4>Desenvolvido por Pedro Caballero</h4>
</footer>
